<!-- This template exists to allow users to get started with Brick JS as quickly as possible. It automatically loads Brick JS (and optionally Pages) and loads a file in the same folder called main.js--> 
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://kbilal1993.gitlab.io/brick-js/brick.js"></script>

<!--Uncomment this line to enable Pages-->
<!--<script src="https://kbilal1993.gitlab.io/brick-js/brick-pages.js"></script>-->
<script src="main.js"></script>
